*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --header: #ff6900;
    --footer: #1a1a1a;
}

html{
    font-size: 14px;
}

body{
    padding-top: 70px;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    padding: 15px 0;
}

/* header */

header{
    background-color: var(--header);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

header img{
    height: 100%;
}

.navbar{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{
    margin-right: 10px;
}

nav ul li i{
    margin-left: 10px;
    cursor: pointer;
}

nav ul{
    list-style: none;
}

/* main */

main{
    padding: 50px 0;
}

main img{
    width: 100%;
}

.main-container{
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 40px;
}

.col{
    width: calc(100% / 3 - 10px);
}

.card{
    position: relative;
}

.image img:last-child{
    display: none;
}

.card:hover .image img:first-child{
    display: none;
}

.card:hover .image img:last-child{
    display: inline-block;
}

.discount, .sost{
    font-weight: 600;
    color: white;
    padding: 5px;
    padding-bottom: 20px;
    position: absolute;
    height: 20px;
    bottom: 50px;
}

.discount{
    background-color: red;
}

.sost{
    background-color: green;
    left: 50px;
}

.favourite{
    font-size: 1.3rem;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 0;
}

.favourite:hover {
    color: red;
}

.price-red{
    color: red;
    margin-right: 5px;
    font-weight: 600;
}

/* footer */

footer{
    color: white;
    background-color: var(--footer);
}

footer h4{
    margin-bottom: 7px;
}

.footer-bar{
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.footer-legal, .social{
    column-gap: 10px;
}

.social i{
    font-size: 1.3rem;
}

/* utils */

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.debug{
    border: 2px dashed black;
}

